:root {
    --primary-color: #343130;
    --secondary-color: #f7f0ed;
  }
  
  /* Typography */
  body {
    font-family: 'Courier New', monospace;
    background-color: var(--primary-color);
    font-size: 18px;
    line-height: 1.6;  
  }
  
  h1, h2 {
    font-family: 'Courier New', monospace;
  }
  
  h1 {
    font-size: 100px;
    font-weight: 700;
    color: var(--secondary-color);
  }
  
  /* Header */
  header {
    background-color:var(--primary-color);
    border-radius: 4px;
  }
  
  header a {
    color: var(--secondary-color);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }