@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root{
    --primary: rgb(2, 76, 2);
    --secondary: #3d3d3d;
    --white: #fff;
}

body{
    background: var(--secondary);
    padding: 50px;
    color: var(--secondary);
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.bold{
    font-weight: 900;
}

.light{
    font-weight: 100;
}

.wrapper{
    background: var(--white);
    padding: 30px;
}

.checklist_wrapper{
    width: 700px;
    max-width: 100%;
    border: 3px solid var(--primary);
}

.checklist_wrapper .header .logo_wrap,
.checklist_wrapper .header .title_wrap{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.checklist_wrapper .header .logo_sec{
    display: flex;
    align-items: center;
}

.checklist_wrapper .header .logo_sec .title_wrap{
    margin-left: 5px;
}

.checklist_wrapper .header .title_wrap .name,
.checklist_wrapper .header .title_wrap .date{
    font-size:  20px;
    color: var(--primary);
}
.checklist_wrapper .header .title_wrap .for{
    font-size: 14px;
    color: var(--primary);
}

.checklist_wrapper .body .main_table .table_header{
    border-top: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
}

.checklist_wrapper .body .main_table .table_header .row{
    color: var(--primary);
    font-size: 18px;
    border-bottom: 0px;
}

.checklist_wrapper .body .main_table .row{
    display: flex;
    border-bottom: 1px solid var(--secondary);
}

.checklist_wrapper .body .main_table .row .col{
    padding: 10px;
}

.checklist_wrapper .body .main_table .row .col.col_no{width: 8%;}
.checklist_wrapper .body .main_table .row .col.col_des{width: 42%;}
.checklist_wrapper .body .main_table .row .col.col_check{width: 55%; text-align: right;}

.checklist_wrapper .button_wrap{
    color: var(--primary);
    font-size: 12px;
    border-bottom: 0px;
    padding: 10px;
}
